:root {
  font-size: 62.5%;

  --color-primary: #07add3;
  --color-dark-primary: #178daa;
  --font-gray: #3f4c5f;
  --font-dark-gray: #404d5f;
  --font-lato: 'Lato', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.space {
  max-width: 114rem;
  margin: 0 auto;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 114rem;
  margin: 0 auto;
  align-items: center;
}

.informacoes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
